@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* This part contains modified elemnts */

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
}

 .left-links, .right-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #c7c7c7;
  padding: 30px;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #828282;
}

