body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  height: 72px;
  font-weight: 900;
  background: darkmagenta;
  color: white;
  display: flex;
  padding-left: 15px;
  align-items: center;
  font-size: 35px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  flex-shrink; 0;
  justify-content: space-between;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  min-height: 250px;
  padding: 32px;
  padding-bottom: 80px;
}

.content {
  display: flex;
  flex: 1;
}

#text {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-right: 330px;
  gap: 40px;
}

ul, a {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 0px;
  margin: 0px;
}

