* {
  font-size: 16px;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 12px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  box-align: center;
}

button.a {
  background: white;
  border: 1px solid #eee;
  display: block;
  box-align: center;
  padding: 8px 24px;
  font-size: 30px;
}
.a {
  padding: 15px;
}
